body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajustar la altura al 100% de la ventana */
}

.container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: .2em;
}

h1 {
    color: black;
    font-size: 3em;
}

#userInput {
    padding: 1em;
    margin: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

p{
    font-size: 1.25em;
}

#botResponse {
    margin-top: 20px;
    height: 300px;
    overflow-y: scroll;
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 10px;
}

#instructions {
    color: black;
    margin-top: 20px;
}

#chat-container {
    width: 50%;
    margin: 0 10px;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
#userInput {
    width: calc(100% - 20px);
    box-sizing: border-box;
    font-size: 1em;
}
#send-button {
    /*width: 100%;*/
    width: calc(100% - 20px);
    font-size:1.5em;
    padding: 1em;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius:.5em;
    width: 200px;
    cursor: pointer;
}

#chat-history {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

#examples-container {
    width: 50%;
    border-radius: 5px;
    background-color: rgb(158, 226, 253);
}

#examples-heading {
    font-size: 1.5em;
    font-weight: bold;
    padding: 2em;
    width: 80%;
    margin: auto;
}

.example {
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
